.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    background-color: aquamarine;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(red, green, blue, alpha);
    transition: .5s ease-in-out;
}
.container:hover .card {

    transform: scale(.9);
    opacity: .5;
}
.container .card:hover {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;

}
.container .card:hover .circle {
    clip-path: circle(600px);
}